<!DOCTYPE html>
<html>
    <head>
        <title>setup section</title>
        <link type = "text/css" rel = "stylesheet" href="{{ url_for('static',filename='css/style.css') }}" />
    </head>
    <body>
        <div id = "container">
            <div id = "header">
                <h1>This is the web page to sign up</h1>
            </div>
            <div id = "about">
                <h2>This is filler for the actual text</h2>
                <p id = demo>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et orci et lorem semper maximus a ut lorem. Integer varius, lorem at tempor laoreet, orci ante auctor odio, vitae pretium lectus est ut magna. Curabitur nec blandit dolor. Nulla pretium tempor ante non porta. Vestibulum nec facilisis magna. Vestibulum eget mauris metus.
                </p>
                <p id = id2></p>
                <p id = id1></p>
            </div>
            <div id = "signupsection">
                <h2>This is the sign up section</h2>
                <form method = 'POST'>
                    <p>email:</p>
                    <input type="text" id="email" name="email">
                    <p>password:</p>
                    <input type="password" id="pass" name="password">
                    <button class="submit" type="submit" >
                        submit
                    </button>
                </form>
            </div>
        </div>
    </body>
</html>