body{
    background-color:   aliceblue;
}


#container{
    font: 1.2em "Fira Sans", sans-serif;
    align-items: center;
    background-color:   aliceblue;
    color:  #000;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
#header{
    text-align: left;
    padding: 0px 0px 10px 0px;
}

#about{
    padding: 0px 25px 0px 25px;
    width: 200px;
    text-align:  center;
    float: right;
}

#sign up section{
    padding: 0px 25px 0px 25px;
    width: 200px;
    text-align: center;
    float: left;
}